In [22]:
import pandas as pd
#將DataFrame當作資料庫來操作
df = pd.read_csv('world.csv')

In [23]:
df.head()
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [27]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

df1.shape
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.0+ MB

In [24]:
df1.head()

   洲名   國家         日期  總確診數  新增確診數      總人口數     解封指數
0  亞洲  阿富汗 2020-02-24     5      5  39835428  99999.0
1  亞洲  阿富汗 2020-02-25     5      0  39835428  99999.0
2  亞洲  阿富汗 2020-02-26     5      0  39835428  99999.0
3  亞洲  阿富汗 2020-02-27     5      0  39835428  99999.0
4  亞洲  阿富汗 2020-02-28     5      0  39835428  99999.0

In [25]:
is_taiwan = df1['國家'] == "台灣"
df_taiwan = df1[is_taiwan]
df_taiwan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, 163986 to 164888
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      903 non-null    object
 1   國家      903 non-null    object
 2   日期      903 non-null    datetime64[ns]
 3   總確診數    903 non-null    int64
 4   新增確診數   903 non-null    int64
 5   總人口數    903 non-null    int64
 6   解封指數    903 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 56.4+ KB

In [26]:
is_japan = df1['國家'] == "日本"
df_japan = df1[is_japan]
df_japan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 85626 to 86522
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      897 non-null    object
 1   國家      897 non-null    object
 2   日期      897 non-null    datetime64[ns]
 3   總確診數    897 non-null    int64
 4   新增確診數   897 non-null    int64
 5   總人口數    897 non-null    int64
 6   解封指數    897 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 56.1+ KB

In [28]:
df1['日期']

0         2020-02-24
1         2020-02-25
2         2020-02-26
3         2020-02-27
4         2020-02-28
             ...
187880    2022-07-02
187881    2022-07-03
187882    2022-07-04
187883    2022-07-05
187884    2022-07-06
Name: 日期, Length: 187885, dtype: object

In [29]:
df1['日期']=pd.to_datetime(df1['日期'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  datetime64[ns]
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 10.0+ MB

C:\Users\user\AppData\Local\Temp\ipykernel_28540\3868416824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期']=pd.to_datetime(df1['日期'])

In [20]:
df_taiwan

        洲名  國家                   日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16 00:00:00        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17 00:00:00        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18 00:00:00        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19 00:00:00        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20 00:00:00        0      0  23855008  99999.00
...     ..  ..                  ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02 00:00:00  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03 00:00:00  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04 00:00:00  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05 00:00:00  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06 00:00:00  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [31]:
df_taiwan[df_taiwan['日期'].dt.year == 2021]

        洲名  國家         日期   總確診數  新增確診數      總人口數  解封指數
164337  亞洲  台灣 2021-01-01    802      3  23855008  0.19
164338  亞洲  台灣 2021-01-02    808      6  23855008  0.19
164339  亞洲  台灣 2021-01-03    812      4  23855008  0.19
164340  亞洲  台灣 2021-01-04    815      3  23855008  0.18
164341  亞洲  台灣 2021-01-05    817      2  23855008  0.18
...     ..  ..        ...    ...    ...       ...   ...
164697  亞洲  台灣 2021-12-27  16931     16  23855008  0.20
164698  亞洲  台灣 2021-12-28  16950     19  23855008  0.20
164699  亞洲  台灣 2021-12-29  16964     14  23855008  0.20
164700  亞洲  台灣 2021-12-30  16988     24  23855008  0.21
164701  亞洲  台灣 2021-12-31  17029     41  23855008  0.21

[365 rows x 7 columns]

In [30]:
df_taiwan[df_taiwan['日期'].dt.month == 5]

        洲名  國家         日期     總確診數  新增確診數      總人口數    解封指數
164092  亞洲  台灣 2020-05-01      429      0  23855008    0.34
164093  亞洲  台灣 2020-05-02      432      3  23855008    0.35
164094  亞洲  台灣 2020-05-03      436      4  23855008    0.33
164095  亞洲  台灣 2020-05-04      438      2  23855008    0.33
164096  亞洲  台灣 2020-05-05      438      0  23855008    0.33
...     ..  ..        ...      ...    ...       ...     ...
164848  亞洲  台灣 2022-05-27  1735067  94796  23855008  116.08
164849  亞洲  台灣 2022-05-28  1815703  80636  23855008  121.52
164850  亞洲  台灣 2022-05-29  1892272  76569  23855008  126.69
164851  亞洲  台灣 2022-05-30  1952355  60083  23855008  130.75
164852  亞洲  台灣 2022-05-31  2032983  80628  23855008  136.19

[93 rows x 7 columns]